<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Bumperz</title>
</head>
<body>
  <div class="container">
    <img id="bggif" src="http://i.imgur.com/mbvCFn7.gif" alt="">
<!--     <video id="bgvid" autoplay loop>
      <source src="http://www.sample-videos.com/video/mp4/360/big_buck_bunny_360p_1mb.mp4" type="video/mp4">
    </video> -->
  </div>
</body>
</html>